
html,
body {
    height: 100vh;
    margin: 0;
}

body {
    font-family: "montserrat", Arial, Helvetica, sans-serif;
}

.header-container, 
footer {
    background-color: rgba(112, 112, 112,.2);
    color: #0A3641
}

/* Home header */
header {
    position: relative;
    text-align: center; 
    width: 100%;
}

body {
    background-color: #f3f4f4;
}

.header-container {
   display: flex;
   justify-content: space-between;
   gap: 20px;
   padding: 15px;
}

.logo-header {
    max-width: 110px;
}

.figure {
    max-width: 100px;
    margin:0px;
}

.search {
    background-color: #fff;
    align-items: center;
    margin: 5px 5px;
    padding: 5px 5px;
    border-radius: 20px;
    font-size: 1em; 
    height: 30px;
    width: 30%;
}

.header-icons a {
    text-decoration: none; 
    color: #0A3641;  
}

.header-icons {
   display: flex; 
   gap: 20px;
   text-align: center;
}

.header-icons i {
    display: block;
    font-size: 1em;
}

#menu-checkbox, .hamburger-icon {
  display: none;  
}

.fa-solid, .fas {
    font-size: 39px;
    color:#0A3641;
}

nav {
    text-align: center;
}

nav a {
    color: #0A3641;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
    padding: 10px; 
}

.nav-menu {
    background-color: #fff;
    padding-top: 3px;
    padding-bottom: 3px;
    }

nav li {
    display: inline-block;  
}

nav ul {
    padding: 0px;  
}

.active {
    text-decoration: underline;
}

nav a:hover {
    text-decoration: underline; 
}

/* Home header main */
main {
    background-color: #f3f4f4;
    color: #0A3641;
}

.banner-container {
    max-width: 100%;
    border: 1px;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.banner-image {
    width: 500px;
    height: 400px;   
}

.banner__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
} 

.cta__banner {
    display: flex;
    width: max-content;
    background-color: #0A3641;
    color: #BF8C60;
    text-decoration: none;
    padding: 10px 25px 10px 25px;
    border-radius: 25px;
    font-size: 24px;
    font-weight: bold;
} 

.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 500px;
    height: 400px;
    background-color: #ffff; 
    font-family: 'lato', 'montserrat', Arial, Helvetica, sans-serif;  
}

.banner-content>h1 {
    width: 40%;
    text-align: center;
}

span {
    font-size: 3.5em;
    color: #bc8a5f;
}

.all-news {
    margin-left: 30px;
    color:#0A3641;
    text-decoration: none;
    font-weight: bolder; 
    font-size: 1.5em;
}

.all-news:hover {
    text-decoration: underline; 
}

.products-container-home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    padding: 20px 30px;
    margin-bottom: 30px;
    background-color: #f3f4f4;
}

.product-card {
    flex: 1;  
}

.product__image {
    width: 100%;
    height: 385px;
    background-color: #fff;
    object-fit: contain;
}

h2 {
    display: block;
    font-size: 1em;
    text-align: left;
    font-weight: bolder;
}

.product__price {
    display: block;
    color: rgb(147 101 60);
    text-align: left;
    font-weight: bolder;
}

.categories {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.category {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position: center;
    min-height: 50vh;
    width: 25%;
}

.categorie-exploring {
    background-image: url("../images/exploring-home.jpg"); 
}

.categorie-hiking {
    background-image: url(../images/hiking-home.jpg);  
}

.categorie-camping {
    background-image: url(../images/camping-home.jpg);  
}

.cta__categorie {
    position: absolute;
    left: 50%;
    top: 370px;
    background-color: #0A3641;
    color: #BF8C60;
    text-decoration: none;
    font-size: 24px;
    padding: 5px 20px 5px 20px;
    border-radius: 5px; 
    transform: translateX(-50%);
}

/* All jackets news */
.loading-indicator {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #BF8C60;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-left: 50%;
    animation: spin 2s linear infinite;
}

.error {
    border: 1px solid darkred;
    padding: 1rem;
    color: darkred;
    background: rgba(255, 0, 0, 0.1);
}

.all-jackets {
    font-size: 1.5em;
    padding-top: 10px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
}

.products-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    gap: 30px;
    padding: 20px 30px;
    margin-bottom: 30px;
    background-color: #f3f4f4;
}


.cta-large-jackets {
    background-color: #0A3641;
    color: #BF8C60;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    padding: 10px 30px 10px 30px;
    border-radius: 10px; 
}

.jackets-bottom-text {
    display: flex;
    flex-direction: column;
}

/* Jacket specification site */
.back-shopping-cart, .back-home {
    display: flex;
    color:#0A3641;
    text-decoration: none;
    font-weight: bolder;
    margin: 20px; 
    font-size: 1em;
}

.product-container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 20px 30px;
    margin-bottom: 30px;
    margin-top: 10px;
    background-color:  rgba(122, 122, 112, 0.2); 
    border: 1px solid #0A3641;
}

.product-image {
    flex: 1;
}

.product-content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.product--price {
    font-size: 1.5em;
    color: #9c7350;
    text-decoration: none;
    font-weight: bolder;
}

.product-description, .about-text  {
    line-height: 1.5;
}

.description-text {
    font-size: 1.5em;
    display: flex;
    justify-content: flex-start;
}

.product-content>form{
    display: flex;
    flex-direction: column;
    line-height: 1.8;  
}

.product-action {
    display: flex;
    justify-content: center;
}

.cta-large {
    background-color: #0A3641;
    color: #BF8C60;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    padding: 5px 30px 5px 30px;
    border-radius: 10px; 
}

h5 {
    font-size: 1.5em; 
    margin: 30px;
    font-weight: bolder;
}

.products-container-jacket {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    gap: 30px;
    padding: 20px 30px;
    margin-bottom: 30px;
    background-color: #f3f4f4;
}

/* checkout page */
.checkout-images {
    width: 100%;
}

.checkout-container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    gap: 30px;
    padding: 20px 30px;
    margin-top: 10px;
    background-color: rgba(122, 122, 112, 0.2); 
    border: 1px solid #0A3641;
}

.checkout-product-text, .product__price {
    font-weight: bolder;
    padding-top: 20px;
}

.shipping-text, 
.payment-text, 
.payment-success-text, 
.waterproof-jacket-text, 
.specifications-text {
    font-size: 1.5em;
}

.checkout-info-item {
  flex: 1;
  line-height: 1.5;
}

.checkout-info-item>* {
    display: flex;
    flex-direction: column; 
}

#select-payment {
    margin-top: 20px; 
}

figure {
    margin: 0px;
}

.product-confirm {
    display: flex;
    justify-content: center; 
    margin-top: 40px;
    text-align: center;
}

/* Payment was successful */
.success-container {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    line-height: 2em;
    height: 80vh; 
}

.fa-circle-check {
    font-size: 80px;
}

.cta-success {
    background-color: #0A3641;
    color: #BF8C60;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    padding: 10px 40px 10px 40px;
    border-radius: 10px;    
}

/* Contact page */
input, select, textarea {
    border: 1px solid #0A3641;
    padding: 10px;
    border-radius: 5px;
} 
   
.contact-us {
    padding: 15px;
    display: flex;
    justify-content: center;  
}

img {
  width: 100%
}

.contact-info-container {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
}

.contact-info-item {
    flex: 1;
    padding: 20px;
}

.contact-info-item>p {
    margin-left: 10px;
}

.contact-us-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    line-height: 1.8; 
}

.contact-input-style {
    height: 247px;
}

.cta_send {
    font-size: 16px;
    margin-top: 15px;
    border-radius: 20px;
    background-color:  rgba(122, 122, 112, 0.2); 
    color:#0A3641;
    height: 40px;
    width: 110px;  
}

.cta-home-contact {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.cta-contact {
    background-color: #0A3641;
    color: #BF8C60;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    padding: 10px 60px 10px 60px;
    border-radius: 10px; 
}

/* About page */
.about-us {
   padding: 15px;
   display: flex;
   justify-content: center;
}

.about-image {
    width: 100%;
    height: 100%;
}

.figure-image {
    width: 100%;
    height: 100%;
    object-fit: cover;  
}

.about-flexbox {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    gap: 20px;   
}

.about-flexbox * {
    flex: 1;   
}

.about-flexbox>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.cta-item {
   text-align: center;
 }
 
.cta-about {
    background-color: #0A3641;
    color: #BF8C60;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    padding: 10px 60px 10px 60px;
    border-radius: 10px; 
    justify-content: center;
    margin-top: 20px;
    display: inline-block;
}

/* footer */
.footer-container {
    margin: 30px 30px 30px 30px;
    display: grid;
    grid-auto-flow: column;
    gap: 10em;
    justify-content: center;
  }

  h3 {
    font-size: 1.5em;
    text-align: center;
  }

  footer ul {
    line-height: 1.6;
    list-style-type: none;
    color:#0A3641;
  }

  .footer-about, .footer-contact {
    text-decoration: none;
    color:#0A3641;
  }
 
  .footer-about:hover, .footer-contact:hover {
    text-decoration: underline; 
  }

  /* @media */
  @media(max-width: 1000px) {
    .product-featured {
        flex:1 0 48%;
    }

    .product-content {
        width: 100%;
    }

    .product-container {
        display: flex;
        flex-direction: column;
    }

   .checkout-container {
        display: flex;
        flex-direction: column;
    }

    .contact-info-container {
        display: flex;
        flex-direction: column;
    }

    .products-container-home {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 899px) {
    .banner-content {
        width: 400px;
    }

    .products-container-jacket {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .products-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 885px){
    .about-flexbox {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
    }

    .about-text {
        margin-bottom: 40px;
        margin-left: 10px;
    }
}

@media(max-width: 728px) {
    .header-icon {
       display: block; 
    }

}

@media(max-width: 670px){
    .products-container, .categories {
        flex-direction: column;
    }

    .category {
        width: 100%;
    }

    .product-list {
       grid-template-columns: 1fr 1fr; 
    }

    .products-container-jacket {
        display: grid;
        grid-template-columns: 1fr;
    }

    .products-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .products-container-home {
        display: grid;
        grid-template-columns: 1fr;
    }

}

  @media(max-width:500px){
    .header-icons {
        flex: 1 0 100%;   
    }

    .header-container {
        flex-wrap: wrap; 
    }

    .search {
        width: 50%;
        margin-right: 40px;
    }

    .hamburger-icon {
        display: inline-block; 
        padding-left: 10px; 
    }

    nav li {
        display: block;
    }

    nav {
        display: none;
    }

    #menu-checkbox:checked ~ .nav-menu {
        display: block;  
    }

    .nav-menu {
        display: none;    
    }
    
    .product-list {
        grid-template-columns: 1fr; 
    }

  }